:root {
    --dark-Color: hsl(240, 21%, 6%);
    --darkish-Color: hsl(244, 48%, 11%);
    --primary-Color: hsl(267, 100%, 86%);
    --secondary-Color: hsl(237, 28%, 6%);
    --text-Color: hsl(254, 37%, 65%);
    --light-Color: hsl(256, 37%, 86%);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--dark-Color);
    
    margin: 0;
    padding: 0;
    
    overflow-x: hidden;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



/*
Div class about me
*/

.aboutme {
    color: whitesmoke;
    text-align: center;
}

.contact {
    color: whitesmoke;
    text-align: center;
}
